{% extends '@FSiAdmin/List/list.html.twig' %}
{% trans_default_domain 'FSiAdminBundle' %}

{% block bottom_buttons %}
    <a href="{{ path('fsi_admin_form', {element : 'subscriber_form', redirect_uri: app.request.uri }) }}" class="btn btn-success" id="create-element"><span class="glyphicon glyphicon-plus"></span> {{ 'crud.list.button.create'|trans }}</a>
{% endblock bottom_buttons %}

{% block top_buttons %}
    <a href="{{ path('fsi_admin_form', {element : 'subscriber_form', redirect_uri: app.request.uri }) }}" class="btn btn-xs btn-success" id="create-element"><span class="glyphicon glyphicon-plus"></span> {{ 'crud.list.button.create'|trans }}</a>
{% endblock top_buttons %}
