<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="admin.knp.menu.builder.class">FSi\Bundle\AdminBundle\Menu\KnpMenu\MenuBuilder</parameter>
        <parameter key="admin.menu.knp.decorator.chain.class">FSi\Bundle\AdminBundle\Menu\KnpMenu\ItemDecoratorChain</parameter>
        <parameter key="admin.menu.knp.decorator.label.class">FSi\Bundle\AdminBundle\Menu\KnpMenu\ItemLabelDecorator</parameter>
        <parameter key="admin.menu.knp.decorator.attributes.class">FSi\Bundle\AdminBundle\Menu\KnpMenu\ItemAttributesDecorator</parameter>
        <parameter key="admin.menu.knp.decorator.route.class">FSi\Bundle\AdminBundle\Menu\KnpMenu\ItemRouteDecorator</parameter>
        <parameter key="admin.menu.knp.decorator.elements.class">FSi\Bundle\AdminBundle\Menu\KnpMenu\ItemElementsDecorator</parameter>
        <parameter key="admin.knp.menu.class">Knp\Menu\ItemInterface</parameter>
        <parameter key="admin.menu.builder.class">FSi\Bundle\AdminBundle\Menu\Builder\MenuBuilder</parameter>
        <parameter key="admin.menu.listener.locale.class">FSi\Bundle\AdminBundle\EventListener\LocaleMenuListener</parameter>
        <parameter key="admin.menu.listener.cleanup.class">FSi\Bundle\AdminBundle\EventListener\CleanUpMenuListener</parameter>
        <parameter key="admin.menu.listener.main.class">FSi\Bundle\AdminBundle\EventListener\MainMenuListener</parameter>
        <parameter key="admin.menu.voter.element.class">FSi\Bundle\AdminBundle\Menu\KnpMenu\ElementVoter</parameter>
    </parameters>

    <services>
        <service id="admin.menu.builder.main" class="%admin.menu.builder.class%">
            <argument type="service" id="event_dispatcher" />
            <argument type="constant">FSi\Bundle\AdminBundle\Event\MenuEvents::MAIN</argument>
        </service>

        <service id="admin.menu.builder.tools" class="%admin.menu.builder.class%">
            <argument type="service" id="event_dispatcher" />
            <argument type="constant">FSi\Bundle\AdminBundle\Event\MenuEvents::TOOLS</argument>
        </service>

        <service id="admin.menu.knp.decorator.chain" class="%admin.menu.knp.decorator.chain.class%">
            <argument type="collection"></argument>
        </service>

        <service id="admin.menu.knp.decorator.label" class="%admin.menu.knp.decorator.label.class%">
            <tag name="admin.menu.knp_decorator" />
        </service>

        <service id="admin.menu.knp.decorator.attributes" class="%admin.menu.knp.decorator.attributes.class%">
            <tag name="admin.menu.knp_decorator" />
        </service>

        <service id="admin.menu.knp.decorator.route" class="%admin.menu.knp.decorator.route.class%">
            <argument type="service" id="router" />
            <tag name="admin.menu.knp_decorator" />
        </service>

        <service id="admin.menu.knp.decorator.elements" class="%admin.menu.knp.decorator.elements.class%">
            <argument type="service" id="router" />
            <tag name="admin.menu.knp_decorator" />
        </service>

        <service id="admin.menu.knp.builder" class="%admin.knp.menu.builder.class%">
            <argument type="service" id="knp_menu.factory"/>
            <argument type="service" id="admin.menu.knp.decorator.chain"/>
        </service>

        <service id="admin.menu.main" class="%admin.knp.menu.class%"
                 factory-service="admin.menu.knp.builder"
                 factory-method="createMenu">
            <tag name="knp_menu.menu" alias="fsi_admin.menu.main"/>
            <argument type="service" id="admin.menu.builder.main"/>
        </service>

        <service id="admin.menu.tools" class="%admin.knp.menu.class%"
                 factory-service="admin.menu.knp.builder"
                 factory-method="createMenu">
            <tag name="knp_menu.menu" alias="fsi_admin.menu.tools"/>
            <argument type="service" id="admin.menu.builder.tools"/>
        </service>

        <service id="admin.menu.listener.main" class="%admin.menu.listener.main.class%">
            <argument type="service" id="admin.manager" />
            <argument>%admin.menu_config_path%</argument>
            <tag name="kernel.event_listener" event="fsi_admin.menu.main" method="createMainMenu" />
        </service>

        <service id="admin.menu.listener.locale" class="%admin.menu.listener.locale.class%">
            <argument type="service" id="translator" />
            <argument type="service" id="request_stack" />
            <argument type="string">%admin.locales%</argument>
            <tag name="kernel.event_listener" event="fsi_admin.menu.tools" method="createLocaleMenu" />
        </service>

        <service id="admin.menu.listener.cleanup" class="%admin.menu.listener.cleanup.class%">
            <tag name="kernel.event_listener" event="fsi_admin.menu.main" method="cleanUpMenu" priority="-100" />
        </service>

        <service id="admin.menu.voter.element" class="%admin.menu.voter.element.class%">
            <tag name="knp_menu.voter" request="true" />
        </service>
    </services>
</container>
