<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="admin.knp.menu.builder.class">FSi\Bundle\AdminBundle\Menu\KnpMenuBuilder</parameter>
        <parameter key="admin.menu.builder.class">FSi\Bundle\AdminBundle\Menu\Builder\MenuBuilder</parameter>
        <parameter key="admin.menu.listener.locale.class">FSi\Bundle\AdminBundle\EventListener\LocaleMenuListener</parameter>
        <parameter key="admin.menu.listener.main.class">FSi\Bundle\AdminBundle\EventListener\MainMenuListener</parameter>
    </parameters>

    <services>
        <service id="admin.menu.builder.main" class="%admin.menu.builder.class%">
            <argument type="service" id="event_dispatcher" />
            <argument type="constant">FSi\Bundle\AdminBundle\Event\MenuEvents::TOOLS</argument>
        </service>

        <service id="admin.menu.builder.tools" class="%admin.menu.builder.class%">
            <argument type="service" id="event_dispatcher" />
            <argument type="constant">FSi\Bundle\AdminBundle\Event\MenuEvents::MAIN</argument>
        </service>

        <service id="admin.menu.knp.builder.main" class="%admin.knp.menu.builder.class%">
            <argument type="service" id="admin.menu.builder.main"/>
            <argument type="service" id="knp_menu.factory"/>
            <call method="setRequest">
                <argument type="service" id="request" on-invalid="null" strict="false" />
            </call>
        </service>

        <service id="admin.menu.knp.builder.tools" class="%admin.knp.menu.builder.class%">
            <argument type="service" id="admin.menu.builder.tools"/>
            <argument type="service" id="knp_menu.factory"/>
            <call method="setRequest">
                <argument type="service" id="request" on-invalid="null" strict="false" />
            </call>
        </service>

        <service id="admin.menu.main" class="%admin.knp.menu.builder.class%"
                 factory-service="admin.menu.knp.builder.main"
                 factory-method="createMenu">
            <tag name="knp_menu.menu" alias="main"/>
        </service>

        <service id="admin.menu.tools" class="%admin.knp.menu.builder.class%"
                 factory-service="admin.menu.knp.builder.tools"
                 factory-method="createMenu">
            <tag name="knp_menu.menu" alias="tools"/>
        </service>

        <service id="admin.menu.listener.main" class="%admin.menu.listener.main.class%">
            <argument type="service" id="admin.manager" />
            <argument>%admin.menu_config_path%</argument>
            <tag name="kernel.event_listener" event="fsi_admin.menu.tools" method="createMainMenu" />
        </service>

        <service id="admin.menu.listener.locale" class="%admin.menu.listener.locale.class%">
            <argument type="string">%admin.display_language_switch%</argument>
            <argument type="service" id="translator"/>
            <call method="setRequest">
                <argument type="service" id="request" on-invalid="null" strict="false" />
            </call>
            <tag name="kernel.event_listener" event="fsi_admin.menu.main" method="createLocaleMenu" />
        </service>
    </services>
</container>
