default: &default
    suites:
        default:
            contexts:
                - FSi\Bundle\AdminBundle\Behat\Context\AdminContext
                - FSi\Bundle\AdminBundle\Behat\Context\CRUDContext
                - FSi\Bundle\AdminBundle\Behat\Context\ResourceContext
                - FSi\Bundle\AdminBundle\Behat\Context\DisplayContext
                - FSi\Bundle\AdminBundle\Behat\Context\DataContext
                - FSi\Bundle\AdminBundle\Behat\Context\MessageContext
                - FSi\Bundle\AdminBundle\Behat\Context\ListContext
                - FSi\Bundle\AdminBundle\Behat\Context\FormContext
                - FSi\Bundle\AdminBundle\Behat\Context\NavigationContext
    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2:
                        browser: firefox
            base_url: 'http://fsi-admin-bundle.dev/app_test.php/'
            javascript_session: javascript
        Behat\Symfony2Extension:
            kernel:
                env: test
                debug: true
                path: features/fixtures/project/app/AppKernel.php
                bootstrap: features/fixtures/project/app/bootstrap.php
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page: FSi\Bundle\AdminBundle\Behat\Page
                element: FSi\Bundle\AdminBundle\Behat\Element
travis:
    <<: *default
    extensions:
        Behat\MinkExtension:
            base_url: "http://localhost:8080/app_test.php"
