parameters:
    excludes_analyse:
        - '%rootDir%/../../../Behat'
        - '%rootDir%/../../../docker'
        - '%rootDir%/../../../features'
        - '%rootDir%/../../../spec'
        - '%rootDir%/../../../vendor'
