parameters:
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - '%currentWorkingDirectory%/Admin'
        - '%currentWorkingDirectory%/Controller'
        - '%currentWorkingDirectory%/DataGrid'
        - '%currentWorkingDirectory%/DependencyInjection/Compiler'
        - '%currentWorkingDirectory%/Display'
        - '%currentWorkingDirectory%/Doctrine'
        - '%currentWorkingDirectory%/Event'
        - '%currentWorkingDirectory%/EventListener'
        - '%currentWorkingDirectory%/Exception'
        - '%currentWorkingDirectory%/Factory'
        - '%currentWorkingDirectory%/features/fixtures/project/src'
        - '%currentWorkingDirectory%/Form'
        - '%currentWorkingDirectory%/Menu'
        - '%currentWorkingDirectory%/Message'
        - '%currentWorkingDirectory%/Model'
        - '%currentWorkingDirectory%/Request'
        - '%currentWorkingDirectory%/Twig'
