<div id="sidebar" class="span2">
    <div class="well">
        {% block menu_content %}
            <ul class="nav nav-list">
                <li class="nav-header">{{ 'admin.menu.header'|trans({}, 'FSiAdminBundle') }}</li>
            {% for element in manager.elementsWithoutGroup %}
                <li{% if loop.last == true %} class="last"{% endif %}{% if loop.first == 0 %} class="first"{% endif %}>
                    <a href="{{ path(element.route, element.routeParameters) }}">{{ element.name|trans }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endblock menu_content %}
    </div>
</div>