<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="admin.menu.builder.class">AdminPanel\Symfony\AdminBundle\Menu\Builder\MenuBuilder</parameter>
        <parameter key="admin.menu.listener.locale.class">
            AdminPanel\Symfony\AdminBundle\EventListener\LocaleMenuListener
        </parameter>
        <parameter key="admin.menu.listener.cleanup.class">
            AdminPanel\Symfony\AdminBundle\EventListener\CleanUpMenuListener
        </parameter>
        <parameter key="admin.menu.listener.main.class">AdminPanel\Symfony\AdminBundle\EventListener\MainMenuListener
        </parameter>
    </parameters>

    <services>
        <service id="admin.menu.builder.main" class="%admin.menu.builder.class%">
            <argument type="service" id="event_dispatcher"/>
            <argument type="constant">AdminPanel\Symfony\AdminBundle\Event\MenuEvents::MAIN</argument>
        </service>

        <service id="admin.menu.builder.tools" class="%admin.menu.builder.class%">
            <argument type="service" id="event_dispatcher"/>
            <argument type="constant">AdminPanel\Symfony\AdminBundle\Event\MenuEvents::TOOLS</argument>
        </service>

        <service id="admin.menu.listener.main" class="%admin.menu.listener.main.class%">
            <argument type="service" id="admin.manager"/>
            <argument>%admin.menu_config_path%</argument>
            <tag name="kernel.event_listener" event="fsi_admin.menu.main" method="createMainMenu"/>
        </service>

        <service id="admin.menu.listener.locale" class="%admin.menu.listener.locale.class%">
            <argument type="service" id="translator"/>
            <argument type="service" id="request_stack"/>
            <argument type="string">%admin.locales%</argument>
            <tag name="kernel.event_listener" event="fsi_admin.menu.tools" method="createLocaleMenu"/>
        </service>

        <service id="admin.menu.listener.cleanup" class="%admin.menu.listener.cleanup.class%">
            <tag name="kernel.event_listener" event="fsi_admin.menu.main" method="cleanUpMenu" priority="-100"/>
        </service>
    </services>
</container>
