{% trans_default_domain 'FSiAdminBundle' %}

{% if element.option('allow_delete') == true and datagrid_view.hasColumnType('batch') == true %}
    <form class="form pull-left" id="batch_form" method="POST">
        {% for index in datagrid_view.indexes %}
            <input type="checkbox" class="hidden" value="{{ index }}" name="indexes[]" id="index_{{ index }}">
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{{ 'crud.list.batch.confirm'|trans }}"/>
    </form>
{% endif %}