{% extends '@FSiAdmin/CRUD/list.html.twig' %}

{% block themes %}
    {{ parent() }}
    {% datagrid_theme datagrid_view admin_templates_datagrid_theme %}
{% endblock themes %}

{% block content %}
<h1 id="page-header">Custom list</h1>
{% endblock content %}
