body {position: relative;padding-top: 60px;}

#batch_action {margin-right: 5px;width: 155px;}
#batch_form {margin-right: 5px;}

#filter {margin-bottom:15px;}
#filter input[type="text"],
#filter input[type="email"],
#filter select {width:190px; margin-right:5px;margin-left:5px;margin-bottom:5px;}
#filter .submit-buttons {float:left; margin-right:5px;margin-left:5px;margin-bottom:5px;}
#list-results {float:right;}
#delete-wrapper {text-align: center;}
#pagination-centered {text-align: center;}

@media (max-width: 768px) {
    #list-results {margin-top:10px;text-align: center;float:none;}
    #datagrid-wrapper {margin-bottom:20px;}
    #datagrid-wrapper table {margin-bottom:0px;}
    #batch_action {margin-left:5px;}
}

.cell-editable {cursor: pointer;}
.cell-value {display: inline;}

.sort-asc {margin-right: 5px;}