{% form_theme form '@FSiAdmin/CRUD/form.html.twig' %}

{% extends base_template %}

{% block content %}
    <div class="span10">
        <form action="{{ path('fsi_admin_crud_create', {element: element.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {{ form_widget(form) }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{{ 'crud.create.button.save'|trans({}, 'FSiAdminBundle')  }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}