{% extends admin_templates_base %}

{% block themes %}
    {% form_theme form admin_templates_edit_form_theme %}
{% endblock themes %}

{% block content %}
    <div class="span10">
        <form action="{{ path('fsi_admin_crud_edit', {element: element.id, id: id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {{ form_widget(form) }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{{ 'crud.edit.button.save'|trans({}, 'FSiAdminBundle')  }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}