{% block form_row %}
    {% spaceless %}
        <div class="control-group">
            {{ form_label(form) }}
            <div class="controls">
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
