{% extends admin_templates_base %}

{% block themes %}
{% if datasource_view is not null %}
{% datasource_theme datasource_view admin_templates_datasource_theme %}
    {% if datagrid_view is not null %}
        {% datagrid_theme datagrid_view admin_templates_datagrid_theme with {
            'datasource' : datasource_view,
            'router_name' : 'fsi_admin_crud_list',
            'router_paramters' : {'element' : element.id}
        } %}
    {% endif %}
{% else %}
    {% if datagrid_view is not null %}
        {% datagrid_theme datagrid_view '@FSiAdmin/CRUD/datagrid.html.twig'%}
    {% endif %}
{% endif %}
{% endblock themes %}

{% block content %}
<div class="row" id="filter">
    <div class="col-lg-12">
        {% block filter %}
        {% include '@FSiAdmin/CRUD/List/filter_content.html.twig' %}
        {% endblock filter %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% block datagrid %}
            {% include '@FSiAdmin/CRUD/List/datagrid_content.html.twig' %}
        {% endblock datagrid %}
        {% block batch_action %}
            {% include '@FSiAdmin/CRUD/List/batch_action_content.html.twig' %}
        {% endblock batch_action %}
        {% block batch_form %}
            {% include '@FSiAdmin/CRUD/List/batch_form_content.html.twig' %}
        {% endblock batch_form %}
        {% block buttons %}
            {% include '@FSiAdmin/CRUD/List/buttons_content.html.twig' %}
        {% endblock buttons %}
        {% block results %}
            {% include '@FSiAdmin/CRUD/List/results.html.twig' %}
        {% endblock results %}
        {% block pagination %}
            {% include '@FSiAdmin/CRUD/List/pagination_content.html.twig' %}
        {% endblock pagination %}
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
{% if element.option('allow_delete') == true and datagrid_view.hasColumnType('batch') == true %}
<script>
    $(document).ready(function() {
        $('#batch_form').submit(function(event) {
            var self = $(this),
                action = $('#batch_action'),
                elements = $('.{{ datagrid_view.name }}_batch'),
                i = 0;

            if (action[0].selectedIndex && $('.{{ datagrid_view.name }}_batch:checked').length) {
                self.attr('action', action.val());
                for (i; i < elements.length; i++) {
                    $('#index_' + $(elements[i]).val()).prop('checked', $(elements[i]).prop('checked'));
                }
            } else {
                event.preventDefault();
            }
        });
    });
</script>
{% endif %}
{% endblock javascripts %}
