{% extends '@FSiAdmin/List/list.html.twig' %}

{% block top_buttons %}
    {% if element.option('allow_add') == true %}
        <a href="{{ path('fsi_admin_form', element.getRouteParameters()|merge({redirect_uri: app.request.uri})) }}" class="btn btn-xs btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'crud.list.button.create'|trans({}, 'FSiAdminBundle') }}
        </a>
    {% endif %}
{% endblock top_buttons %}

{% block bottom_buttons %}
    {% block buttons %}
        {% if element.option('allow_add') == true %}
            <a href="{{ path('fsi_admin_form', element.getRouteParameters()|merge({redirect_uri: app.request.uri})) }}" class="btn btn-success" id="create-element">
                <span class="glyphicon glyphicon-plus"></span>
                {{ 'crud.list.button.create'|trans({}, 'FSiAdminBundle') }}
            </a>
        {% endif %}
    {% endblock buttons %}
{% endblock bottom_buttons %}
