{% extends "@FSiAdmin/base.html.twig" %}

{% if datasource_view is not null %}
{% datasource_theme datasource_view '@FSiAdmin/CRUD/datasource.html.twig' %}
    {% if datagrid_view is not null %}
        {% datagrid_theme datagrid_view '@FSiAdmin/CRUD/datagrid.html.twig' with {
            'datasource' : datasource_view,
            'router_name' : 'fsi_admin_crud_list',
            'router_paramters' : {'element' : element.id}
        } %}
    {% endif %}
{% else %}
    {% if datagrid_view is not null %}
        {% datagrid_theme datagrid_view '@FSiAdmin/CRUD/datagrid.html.twig'%}
    {% endif %}
{% endif %}

{% block content %}
    <div class="span8">
        {% block datagrid %}
            {% include '@FSiAdmin/CRUD/List/datagrid_content.html.twig' %}
        {% endblock datagrid %}
        {% block info %}
            {% include '@FSiAdmin/CRUD/List/info_content.html.twig' %}
        {% endblock info %}
        {% block export %}
            {% include '@FSiAdmin/CRUD/List/export_content.html.twig' %}
        {% endblock export %}
        {% block pagination %}
            {% include '@FSiAdmin/CRUD/List/pagination_content.html.twig' %}
        {% endblock pagination %}
        {% block buttons %}
            {% include '@FSiAdmin/CRUD/List/buttons_content.html.twig' %}
        {% endblock buttons %}
    </div>
    {% block filter %}
        <div class="span2">
            {% include '@FSiAdmin/CRUD/List/filter_content.html.twig' %}
        </div>
    {% endblock filter %}
{% endblock content %}