{% block datagrid_grid_with_theme %}
{% spaceless %}
    <h1>This is datagrid theme</h1>
{% endspaceless %}
{% endblock %}

{% block datagrid_grid_with_theme_header %}
{% spaceless %}
    <h1>This is datagrid header theme</h1>
{% endspaceless %}
{% endblock %}

{% block datagrid_grid_with_theme_rowset %}
{% spaceless %}
    <h1>This is datagrid rowset theme</h1>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_header %}
{% spaceless %}
    <h1>This is column header theme</h1>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_cell %}
{% spaceless %}
    <h1>This is column cell theme</h1>
{% endspaceless %}
{% endblock %}

{% block datagrid_column_type_action_cell_action %}
{% spaceless %}
    <h1>This is column cell with type action theme for custom action</h1>
{% endspaceless %}
{% endblock %}
